body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title .btn-group {
    float: right;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 1px;
    border: none;
    outline: none !important;
    margin-left: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:nth-child(7) {
    width: 60px; /* Decrease the width of the 5th column */
}


table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}

table.table td a:hover {
    color: #2196f3;
}

table.table td a.edit {
    color: #ffc107;
}

table.table td a.delete {
    color: #f44336;
}

table.table td i {
    font-size: 19px;
}

table.table .avatar {
    border-radius: 1px;
    vertical-align: middle;
    margin-right: 10px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 1px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
    background: #03a9f4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px;
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

/* Modal styles */
.modal .modal-dialog {
    max-width: 500px;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 1px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 10px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 1px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}

.form-control:disabled {
    background-color: white !important; 
    opacity: 1; 
}

thead, tbody, tfoot, tr, td, th {
    border-style:none;
}

.color-btn{
    background-color: #387ADF;
}


.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #dddddd;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: white; 
    color: inherit; 
}

th.actions-column {
    width: 100px; /* Adjust the width as per your requirement */
}

/* Custom styles for the vertical table */
.table th,
.table td {
    vertical-align: middle;
    text-align: left;
}

.table th {
    width: 30%;
}

.order-item{
	margin-top: 100px;
	margin-bottom:100px;
}

/* Custom styles for the horizontal line */
hr {
    border: none; /* Remove the default border */
    border-top: 5px solid #ddd; /* Add a custom top border */
    margin: 20px 0; /* Adjust margin as needed */
}

/* Example styles for your table */
.table-bordered {
    border: 1px solid #ddd; /* Add border to the table */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd; /* Add border to table cells */
    padding: 8px; /* Adjust padding as needed */
}

